@media screen and (max-width: 650px) and (orientation: portrait) {
    .main-container {display: none;
    }
    .links {
        position: absolute;
        margin-top: 155px;
        height: 400px;
    }
   
    .gerb {
        display:flex;
        position: relative;
        justify-content: center;
        margin-top: 20rem;      
    }

    .images img {
        width: 100%;
      }

      form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
      }

      .logo {
        font-size: 0.9rem;
      }
}

@media screen and (max-height: 490px) and (orientation: landscape) {
    
    .links {
        margin-top: 175px;
    }


    .links a {
        font-size: 1.1rem;    
      }

    .content.active {
        filter: opacity(0.15);
        color: #ffffff;
    }

    h3 {
        font-size: 110%;
    }
    
    p {
        font-size: 90%;
    }
}
@media screen and (max-height: 800px) and (orientation: portrait) {
    
    .links {
        margin-top: 20%;
    }
}
