@media screen and (max-width: 650px) and (orientation: portrait) {
    .main-container {display: none;
    }
    .links {
        position: absolute;
        margin-top: 5%;
    }
    .gerb {
        display:flex;
        position: relative;
        justify-content: center;
        margin-top: 20rem;      
    }
    
    .images img {
       width: 100%;  
   }
}

@media screen and (max-height: 420px) and (orientation: landscape) {
    
    .links {
        margin-top: 15%;
    }
     .content.active 
    {
        filter: opacity(0.15);
        color: #ffffff;
    }
    
    h3 {
        font-size: 110%;
    }
    
    p {
        font-size: 90%;
    }
}
@media screen and (max-height: 800px) and (orientation: portrait) {
    
    .links {
        margin-top: 20%;
    }
}
